nav a {
    text-decoration: none;
    color: rgb(59, 66, 127);
}

nav {
    width: 80%;
    background-color: rgb(226, 203, 244);
    border-radius: 50px 50px;
    padding: 10px 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(67, 74, 139);
}

ul {
    color: rgb(59, 66, 127);
    text-align: left;
}

body {
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    color: rgb(79, 52, 143);
}

h2 {
    color: rgb(79, 52, 143);
}

h3 {
    color: rgb(63, 63, 122);
}

p {
    color: rgb(63, 63, 122);
    text-align: justify;
}

main a {
    color: rgb(66, 133, 140);
}

.current {
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    border-radius: 30%;
    padding: 1%;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(fonts/Poppings-Regular.ttf) format(truetype);
    font-style: normal;
}

main {
    background-color: white;
    padding: 3%;
}

footer p {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.grid img {
    width: 100%; /* Makes images fill their container */
    height: auto; /* Keeps aspect ratio */
    display: block; /* Removes extra space below inline images */
}